[submodule "k-vim"]
	path = k-vim
	url = https://github.com/liuxuezhan/k-vim.git
[submodule "skynet"]
	path = skynet
	url = https://github.com/liuxuezhan/skynet.git
[submodule "rockmongo"]
	path = rockmongo
	url = https://github.com/liuxuezhan/rockmongo.git
