function load_game_module()
    gMapID = getMap()
    gMapNew = 1
    gSysMailSn = 0
    gSysMail = {}
    gSysStatus = {}

    do_load("protocol")
    do_load("player_t")
end

function restore_game_data()
    print "restore"
    gInit = "InitGameDone"
end

function check_pending()
    -- save others
end


-------------------------------------------
--the above should be here
