module("player_t")
-- should be copy to path ../../script

function init()
    _example.name = "unknonw"
    _example.gold = 0
    _example.sex = 0
    _example.exp = 0
    _example.lv = 1
end

function create(account)
    local pid = getId("pid")
    local p = copyTab(player_t._example)
    p._id = pid
    p.pid = pid
    p.map = gMapID

    local db = dbmng:getOne(pid)
    db.player:insert(p)
    
    local ply = player_t.new(p)
    return ply
end

function firstPacket(self, uid, account, pasw)
    local process = pullString()
    if self.pid ~= 0 then return LOG("duplicate firstPacket, uid=%d, account=%s, process=%s", uid, account, process) end

    local magic = pullInt()
    LOG("firstPacket, account=%s, pid=%d, process=%s, magic=%d", account, self.pid, process, magic)
    if magic ~= 20100731 then return end
    local gateid = self.gid 

    local p = gAccs[ account ] 
    if not p then
        LOG("firstPacket, account=%s, pid=%d, process=%s, account not in local", account, self.pid, process)
        local dg = dbmng:getGlobal()
        local info = dg.ply:findOne({_id=account})

        -- steer to map server the player belong to
        if info then
            if info.map == gMapID then
                LOG("firstPacket, account=%s, pid=%d, process=%s, account in map %d, missing, recreate", account, info.pid, process, info.map)
                p = player_t.create(account, info.pid) 
            else
                LOG("firstPacket, account=%s, pid=%d, process=%s, account in map %d", account, info.pid, process, info.map)
                local map = info.map
                local pid = info.pid
                pushHead(gateid, 0, 9)  -- set server id
                pushInt(pid)
                pushInt(map)
                pushString(process)
                pushOver()
                return
            end
        end

        -- steer to map server the system recomment
        local steer = gSysConfig.steer
        if steer and steer ~= gMapID then
            LOG("firstPacket, account=%s, pid=%d, process=%s, account steer to map %d", account, self.pid, process, steer)
            pushHead(gateid, 0, 13) -- change server id
            pushInt(steer) -- server id
            pushString(process)
            pushOver()
            return
        end
    end

    if not p then 
        p = player_t.create(account) 
        LOG("firstPacket, account=%s, pid=%d, process=%s, create new player in local ", account, p.pid, process)
        if p then
            local dg = dbmng:getGlobal()
            dg.ply:insert({_id=account, pid=p._id, map=p.map, create=gTime, state=0})
        end
    end
    if not p then return INFO("NOT HANDLE WHY") end

    local map = p.map
    local pid = p._id
    LOG("firstPacket, setSrvID, pid=%d, map=%d, proc=%s, gid=%d", pid, map, process, self.gid)

    pushHead(gateid, 0, 9)  -- set server id
    pushInt(pid)
    pushInt(map)
    pushString(process)
    pushOver()
    return
end 


function login(self)
    INFO("login, pid=%d, gid=%d", self.pid, self.gid)
    Rpc:onLogin(self, self.pid, self.name)
end

function getTime(self)
    Rpc:getTime(self, gTime)
end

function notify(self, chgs)
    Rpc:statePro(self, chgs)
end

function addGold(self, num)
    self.gold = self.gold + num
end

function loadData(self, what)
    local t = {}
    t.key = what
    if what == "pro" then
        t.val = self._pro
    end
    Rpc:loadData(self, t)
end

init()
