module("Protocol")

Server = {
    firstPacket2 = "int sockid, int server_id, pack info, string ip",
    login = "",
    onBreak = "",
    getTime = "",
    loadData = "string what",
    addGold = "int num",
}


Client = {
    getTime = "int gTime",
    statePro = "pack chgs",
    loadData = "pack info",
    onLogin = "int pid, string name",
}

