<TLOGConf>
    <PriorityHigh>NULL</PriorityHigh>
    <PriorityLow>UNKNOWN</PriorityLow>
    <DelayInit>0</DelayInit>
    <SuppressError>0</SuppressError>
    <Count>1</Count>
    <CategoryList>
        <Name>test1</Name>
        <PriorityHigh>NULL</PriorityHigh>
        <PriorityLow>UNKNOWN</PriorityLow>
        <LevelDispatch>1</LevelDispatch>                
        <MustSucc>0</MustSucc>
        <Format>%m%n</Format>
        <ForwardCat></ForwardCat>
        <Device>
            <Type>VEC</Type>
            <Device>
                <Vec>
                    <Count>1</Count>
                    <Elements>
                        <Type>NET</Type>
                        <Device>
                            <Net>
                                <Url>tcp://192.168.100.12:6667</Url>
                                <Sendbuff>0</Sendbuff>
                                <RecvBuff>0</RecvBuff>
                                <AutoReconnect>1</AutoReconnect>
                                <MaxRetry>0</MaxRetry>                 
                                <ConnTimeout>1000</ConnTimeout>                     
                                <SendTimeout>1000</SendTimeout>  
                            </Net>
                        </Device>
                    </Elements>
                </Vec>
            </Device>
        </Device>
    </CategoryList>
</TLOGConf>

